<%= form_for @post, :html => { :class => 'form-horizontal' } do |f| %>
    <% if @post.errors.any? %>
        <div  class="alert alert-error">
          <h2><%= pluralize(@post.errors.count, "error") %> prohibited this post from being saved:</h2>
          <ul>
            <% @post.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
    <% end %>
    <div class="control-group">
      <%= f.label :title, :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :title, :class => 'text_field' %>
      </div>
    </div>
    <div class="control-group">
      <%= f.label :content, :class => 'control-label' %>
      <div class="controls">
        <%= f.text_area :content, :class => 'text_field' %>
      </div>
    </div>
    <div class="control-group">
      <%= f.label :url, :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :url, :class => 'text_field' %>
      </div>
    </div>
    <div class="control-group">
      <%= f.label :allowed_clicks, :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :allowed_clicks, :class => 'text_field' %>
      </div>
    </div>
        <div class="form-actions">
      <%= f.submit nil, :class => 'btn btn-primary' %>
      <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                  posts_path, :class => 'btn' %>
    </div>
<% end %>
